body, .bg-dark {
    background-color: #000000 !important;
    color: #ffffff !important;
}

.navbar {
    background-color: #000000;
}

.card {
    background-color: #000000;
    color: #f8f9fa;
}

.card a {
    background-color: #000000;
    color: #f8f9fa;
}

.btn {
    background-color: #000000;
    color: #f8f9fa;
}

.btn:hover {
    background-color: #000000;
    color: #f8f9fa;
}


body.bg-dark a {
    background-color: #000000;
    color: #f8f9fa !important;
}
