{% extends "base.html" %}
{% block content %}
<div>
    <h1>Youtube URL Downloader</h1>
</div>
{% if success_message %}
<div class="alert alert-success" role="alert">
  {{ success_message }}
</div>
{% endif %}

{% if form.errors %}
    <div class="form-errors">
        <ul>
            {% for field, errors in form.errors.items %}
                <li>{{ field }}: {{ errors|join:", " }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form action="{% url 'youtube_url_upload' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Scrape YouTube URL Info</button>
</form>

<!-- 
<form action="{% url 'youtube_url_upload' %}" method="post">
    {% csrf_token %}
    <input type="text" name="youtube_link" placeholder="Enter YouTube link">
    <button type="submit">Scrape YouTube URL Info</button>
</form> -->

{% endblock %}
