{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>YouTube URL List</h1>
    <div>
        <table id="youtubeUrlTable" class="VideoTableDark" >
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>YT Video URL</th>
                    <th>Channel</th>
                    <th>View Count</th>
                    <th>Posted Date</th>
                    <th>Upload Date</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                {% for youtube_url in youtube_urls %}
                    <tr>
                        <td style="word-wrap: break-word;"><a href="{% url 'youtube_url_detail' youtube_url.pk %}">{{ youtube_url.youtube_video_title }}</a></td>
                         <td style="word-wrap: break-word;">{{ youtube_url.youtube_video_description }}</td>
                         <td style="word-wrap: break-word;">{{ youtube_url.youtube_video_url }}</td>
                         <td style="word-wrap: break-word;">{{ youtube_url.youtube_video_channel }}</td>
                         <td style="word-wrap: break-word;">{{ youtube_url.youtube_view_count }}</td>
                         <td style="word-wrap: break-word;">{{ youtube_url.youtube_video_published_date }}</td>
                         <td style="word-wrap: break-word;">{{ youtube_url.youtube_video_upload_date }}</td>
                        <td>
                            <form method="POST" action="{% url 'youtube_url_delete' youtube_url.pk %}">
                                {% csrf_token %}
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="{% url 'youtube_url_update' youtube_url.pk %}">
                                {% csrf_token %}
                                <input type="submit" value="Update">
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'scrape_youtube' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="youtube_link" value="{{ youtube_url.youtube_video_url|safe }}">
                                <button type="submit">Scrape YouTube</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <script>
        $(document).ready(function() {
            $('#youtubeUrlTable').DataTable({
                // DataTables options
                "paging": true,
                "ordering": true,
                "info": true,
                "dom": 'lBfrtip',
            });
        });
    </script>
{% endblock %}
