{% extends "base.html" %}

{% block content %}

    <h1>Rumble Video List</h1>
    <div>
        <form action="{% url 'upload_videos' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Upload All Videos to Rumble</button>
        </form>
    </div>
    <div>
        <table id="rumbleVideoTable" class="VideoTableDark">
            <thead>
                <tr>
                    <th>Rumble Account</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Primary Category</th>
                    <th>Secondary Category</th>
                    <th>Tags</th>
                    <th>Upload Date</th>
                    <th>Visibility</th>
                    <th>Video File</th>
                    <th>Rumble Direct Link</th>
                    <th>Rumble Embed Code</th>
                    <th>Rumble Monetized Embed</th>
                    <th>Rumble Upload Successful</th>
                    <th>Delete</th>
                    <th>Update</th>
                    <th>Run Rumble Script</th>
                </tr>
            </thead>
            <tbody>
                {% for rumble_video in rumble_videos %}
                    <tr>
                        <td style="word-wrap: break-word;">{{ rumble_video.rumble_account }}</td>
                        <td style="word-wrap: break-word;"><a href="{% url 'rumble_video_detail' rumble_video.pk %}">{{ rumble_video.rumble_video_title }}</a></td>
                        <td style="word-wrap: break-word;">{{ rumble_video.rumble_video_description }}</td>
                        <td style="word-wrap: break-word;">{{ rumble_video.rumble_primary_category }}</td>
                        <td style="word-wrap: break-word;">{{ rumble_video.rumble_secondary_category }}</td>
                        <td style="word-wrap: break-word;">{{ rumble_video.rumble_rumble_tags }}</td>
                        <td style="word-wrap: break-word;">{{ rumble_video.rumble_upload_date }}</td>
                        <td style="word-wrap: break-word;">{{ rumble_video.rumble_visibility }}</td>
                        <td style="word-wrap: break-word;">{{ rumble_video.rumble_video_file }}</td>
                        <td class="limited-text" style="word-wrap: break-word;">{{ rumble_video.rumble_direct_link }}</td>
                        <td class="limited-text" style="word-wrap: break-word;">{{ rumble_video.rumble_embed_code }}</td>
                        <td class="limited-text" style="word-wrap: break-word;">{{ rumble_video.rumble_monetized_embed }}</td>
                        <td style="word-wrap: break-word;">{{ rumble_video.uploaded_to_rumble_success }}</td>
                        <td style="word-wrap: break-word;">
                            <form method="POST" action="{% url 'rumble_video_delete' rumble_video.pk %}">
                                {% csrf_token %}
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                        <td>
                            <form method="GET" action="{% url 'rumble_video_update' rumble_video.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="rumble_video_pk" value="{{ rumble_video.pk }}">
                                <input type="submit" value="Update">
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'run_rumble_script' rumble_video.pk %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="rumble_video_pk" value="{{ rumble_video.pk }}">
                                <button type="submit">Run Rumble Script</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">

    <script>
    $(document).ready(function() {
        // Set DataTables global error handling
        $.fn.dataTable.ext.errMode = function(settings, helpPage, message) {
            console.error(message);
            // You can add more sophisticated error handling here, such as displaying a user-friendly message on the UI
        };

        try {
            // Initialize the DataTable
            $('#rumbleVideoTable').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                "dom": 'lfrtip',
            });
        } catch (error) {
            console.error('DataTable initialization error:', error);
            // Handle initialization error, e.g., display a message to the user
        }
    });
    </script>

{% endblock %}
