{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">

<script>
    $(document).ready(function() {
        $('#youtubeVideoTable').DataTable({
            // DataTables options
            "paging": true,
            "ordering": true,
            "info": true,
            "className": 'VideoTableDark', // Attempt to apply dark class, might need customization
            "dom": 'frtip',
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
    <h1>YouTube Video List</h1>
    <div>
        <table id="youtubeVideoTable" class="VideoTableDark">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>YT Video URL</th>
                    <th>Channel</th>
                    <th>View Count</th>
                    <th>Posted Date</th>
                    <th>Upload Date</th>
                    <th>Video File</th>
                    <th>Thumbnail</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                {% for youtube_video in youtube_videos %}
                    <tr>
                         <td style="word-wrap: break-word;"><a href="{% url 'youtube_video_detail' youtube_video.pk %}">{{ youtube_video.youtube_video_title }}</a></td>
                         <td style="word-wrap: break-word;">{{ youtube_video.youtube_video_description }}</td>
                         <td style="word-wrap: break-word;">{{ youtube_video.youtube_video_url }}</td>
                         <td style="word-wrap: break-word;">{{ youtube_video.youtube_video_channel }}</td>
                         <td style="word-wrap: break-word;">{{ youtube_video.youtube_view_count }}</td>
                         <td style="word-wrap: break-word;">{{ youtube_video.youtube_video_published_date }}</td>
                         <td style="word-wrap: break-word;">{{ youtube_video.youtube_video_upload_date }}</td>
                         <td style="word-wrap: break-word;">{{ youtube_video.youtube_video_file }}</td>
                         <td style="word-wrap: break-word;">{{ youtube_video.youtube_video_thumbnail }}</td>
                         <td style="word-wrap: break-word;">
                            <form method="POST" action="{% url 'youtube_video_delete' youtube_video.pk %}">
                                {% csrf_token %}
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                        <td>
                            <form method="GET" action="{% url 'youtube_video_update' youtube_video.pk %}">
                            {% csrf_token %}
                            <input type="submit" value="Update">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
