{% extends "base.html" %}

{% block content %}

    <h1>YouTube To Rumble Conversion List</h1>
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="full-screen-table-container"> <!-- Full-screen table container -->
        <form method="POST" action="{% url 'convert_video' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <table id="youtubeVideoTable" class="VideoTableDark">
                    <thead>
                        <tr>
                            <th>YT Title</th>
                            <th>YT Description</th>
                            <th>YT Video URL</th>
                            <th>Video File</th>
                            <th>Rumble Account</th>
                            <th>Rumble Primary Category</th>
                            <th>Rumble Secondary Category </th>
                            <th>Rumble Tags</th>
                            <th>Rumble Visibility</th>
                            <th>Run YouTube to Rumble Conversion Script</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for youtube_video in youtube_videos %}
                            <tr>
                                <td style="word-wrap: break-word;"><a href="{% url 'youtube_video_detail' youtube_video.pk %}">{{ youtube_video.youtube_video_title }}</a></td>
                                <td style="word-wrap: break-word;">{{ youtube_video.youtube_video_description }}</td>
                                <td style="word-wrap: break-word;">{{ youtube_video.youtube_video_url }}</td>
                                <td style="word-wrap: break-word;">{{ youtube_video.youtube_video_file }}</td>
                                <td>
                                    <select name="rumble_accounts">
                                    {% for account in rumble_accounts %}
                                        <option value="{{ account }}">{{ account }}</option>
                                    {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <select name="rumble_video_primary_categories">
                                        {% for category in rumble_video_primary_categories %}
                                            <option value="{{ category }}">{{ category }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <select name="rumble_video_secondary_categories">
                                        {% for category in rumble_video_secondary_categories %}
                                            <option value="{{ category }}">{{ category }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <!-- Large text box for Rumble Tags -->
                                    <textarea name="rumble_tags" style="width: 100%; height: 100px;"></textarea>
                                </td>
                                <td>
                                    <select name="rumble_video_visibility">
                                        {% for category in rumble_video_visibility %}
                                            <option value="{{ category }}">{{ category }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="hidden" name="youtube_video_pk" value="{{ youtube_video.pk }}">
                                    <button type="submit">Convert Video</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">

    <script>
        $(document).ready(function() {
            $('#youtubeVideoTable').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                "dom": 'lBfrtip',
                "buttons": [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "columnDefs": [
                    {
                        "targets": [4, 5, 6, 7, 8, 9], // Specify the column indices you want to make non-searchable
                        "searchable": false,
                        "orderable": false // Add this line to make these columns non-sortable
                    }
                    // You can add more objects to this array to set options for other columns
                ]
            });

            // Your existing code for populating the dropdown and setting up the change event listener
        });
    </script>
{% endblock %}
