{% extends "base.html" %}

{% block content %}
    <h1>YouTube Upload a Video</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in update_form %}
            <div>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div style="color: red">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Save</button>
    </form>

{% endblock %}
